
body {
    min-height: 100vh;
    position: relative;
    margin: 0;
}

footer{ 
    position: absolute;
    bottom: 0;
    width: 100%;
}

.base-page {
    padding-bottom: 200px;
    padding-top: 100px;
}

.home-page {
    .movie-genre {
        font-size: 17px;
        font-style: italic;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .card-tiitle {
        margin-bottom: 0;
    }
}

.navbar { 
    min-height: 80px;

    > li > a {
        font-size: 19px;
    }
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
}